doctype html
html
  head
    meta(charset='utf-8')
    title Express CoffeeScript Template
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // CSS
    != css('app')
    
  body
    block content

    != js('app')
