@import 'lib/normalize.styl'
@import 'lib/skeleton.styl'
@import 'nib'

@import 'variables/_variables.styl'
@import 'mixins/_mixins.styl'
@import 'base/_base.styl'
@import 'atom/_atom.styl'


.container.center {
  text-align: center;
  margin-top: 60px;
}
